In [1]:
print("this is my program")

this is my program

In [2]:
l=[1,2,3,4,5]

In [3]:
len(l) #inbuilt function
#now let's create our own function

5

In [5]:
def test():
    pass

In [17]:
def test1():
    print("this is my very first function")

In [8]:
test1()

this is my very first function

functions adv: increases usability
               
            increases modularity

In [9]:
test1()

this is my very first function

In [18]:
test1() + "snehan"
#print always return a none type by default
# concatenation not possible with print

this is my very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [23]:
def test2():
    return "this is my function with return "

In [24]:
test2()

'this is my function with return '

In [25]:
test2() + "snehan"
# concatenation possible with return

'this is my function with return snehan'

In [26]:
def test3():
    return 1, 4, "snehan", 34.56
#able to return multiple data type at a time

In [27]:
test3()

(1, 4, 'snehan', 34.56)

In [28]:
a = 1,2,3,4,5

In [29]:
a

(1, 2, 3, 4, 5)

In [30]:
a,b,c,d = 1,2,34.56, True

In [31]:
a

1

In [32]:
b

2

In [33]:
c

34.56

In [34]:
d

True

In [35]:
test3()
#will always return in form of tuple

(1, 4, 'snehan', 34.56)

In [37]:
test3()[1]

4

In [38]:
test3()[0]

1

In [39]:
test3()[2]

'snehan'

In [40]:
a,b,c,d=test3()

In [41]:
a

1

In [42]:
b

4

In [43]:
c

'snehan'

In [44]:
d

34.56

In [45]:
def test4():
    a=3*4+5
    return a

In [46]:
test4()

17

In [47]:
type(test4())

int

In [48]:
def test5(a,b):
    c=a+b
    return c

In [51]:
test5(1,3)

4

In [53]:
test5("snehan ","sahoo")

'snehan sahoo'

In [54]:
test5([1,2,3,4],[4,5,6,7,8])

[1, 2, 3, 4, 4, 5, 6, 7, 8]

In [55]:
test5(b="snehan",a="sahoo ")

'sahoo snehan'

In [75]:
l=[1,2,3,4,5,"snehan","sahoo",[1,2,3,44,55]]

In [58]:
# a function which will take list as an input and give me a final list with all the numeric value

In [72]:
def test6(a):
    n = []
    for i in a:
        if type(i)== int or type(i) == float :
            n.append(i)
    return n

In [77]:
test6(l)

[1, 2, 3, 4, 5]

In [76]:
l

[1, 2, 3, 4, 5, 'snehan', 'sahoo', [1, 2, 3, 44, 55]]

In [80]:
def test7(a):
    n = []
    for i in a:
        if type(i)== list:
            for j in i :
                if type(j)== int or type(j)== float :
                    n.append(j)
        else:
            if type(i)== int or type(i) == float :
                n.append(i)
    return n

In [81]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 44, 55]

In [82]:
l

[1, 2, 3, 4, 5, 'snehan', 'sahoo', [1, 2, 3, 44, 55]]