In [1]:
t=()

In [2]:
type(t)

tuple

In [33]:
t1=(1,2,3,4,5,56,67,67.67,45+7j,"snehan", True)

In [4]:
type(t1)

tuple

In [5]:
l=[1,2,3,4]

In [6]:
type(l)

list

In [20]:
t1

(1, 2, 3, 4, 5, 56, 67, 67.67, (45+7j), 'snehan', True)

In [9]:
t1[1]

2

In [10]:
t1[0]

1

In [11]:
t1[7]

67.67

In [38]:
t1[::-1]

(True, 'snehan', (45+7j), 67.67, 67, 56, 5, 4, 3, 2, 1)

In [39]:
t1=t1[::-1]

In [40]:
t1

(True, 'snehan', (45+7j), 67.67, 67, 56, 5, 4, 3, 2, 1)

In [41]:
t1[0:3]

(True, 'snehan', (45+7j))

`t1.[tab]`-->will give us all the methods available

`shift+tab`-->complete docstring/help about the function

In [42]:
t1

(True, 'snehan', (45+7j), 67.67, 67, 56, 5, 4, 3, 2, 1)

In [28]:
t1.count(3)

1

In [29]:
t1.count("abc")

0

In [30]:
t1.index(1)

0

#### theoretically index of 1 should be 8 as it it on the last index(0-8) but it gives the values as 0. why?
#### the reason is internally the system is going to store the value of "True"as 1 that means True=1 thats why it giving us the index of the first occurence of the value one which is 0

In [47]:
t2=(2,3,4,True)
t2.index(1)

3

In [48]:
t1.index('snehan')

1

In [44]:
t1.count(True)
#same concept of true as before thats why count showing as 2

2

In [45]:
t1.count(1)

2

In [46]:
t1

(True, 'snehan', (45+7j), 67.67, 67, 56, 5, 4, 3, 2, 1)

In [49]:
l

[1, 2, 3, 4]

In [50]:
t1[0]

True

In [51]:
t1[0]= 345

TypeError: 'tuple' object does not support item assignment

In [52]:
l[0]= 100

In [53]:
l

[100, 2, 3, 4]

tuples is not allowing us to make any kind of change to a particular index

item assignment is different 

tuple is immutable entity

In [60]:
for i in t1 :
    print(i)
    print(type(i))

True
<class 'bool'>
snehan
<class 'str'>
(45+7j)
<class 'complex'>
67.67
<class 'float'>
67
<class 'int'>
56
<class 'int'>
5
<class 'int'>
4
<class 'int'>
3
<class 'int'>
2
<class 'int'>
1
<class 'int'>

In [61]:
t3=(1,2,3,4,5)

In [62]:
t3

(1, 2, 3, 4, 5)

In [63]:
t3*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [64]:
max(t3)

5

In [65]:
min(t3)

1

In [67]:
t1=(1,23,32,3)
t2=(4,5,6,7)

In [68]:
t3=(t1,t2)

In [69]:
t3

((1, 23, 32, 3), (4, 5, 6, 7))

In [72]:
[j for i in t3 for j in i]#flattening out

[1, 23, 32, 3, 4, 5, 6, 7]

In [74]:
t4=((91,2,3,4,5,6),[2,3,4,5,8,99])

In [75]:
t4

((91, 2, 3, 4, 5, 6), [2, 3, 4, 5, 8, 99])

In [76]:
del t4

In [78]:
t4

NameError: name 't4' is not defined

In [79]:
t1

(1, 23, 32, 3)

In [80]:
len(t1)

4

In [81]:
t1

(1, 23, 32, 3)

In [82]:
"snehan" in t1

False

In [83]:
23 in t1

True