# Q1 #

In [8]:
a="string"
b=[2,4,5,6,"snehan"]
c= 24.56
#tuple(immutable list)
d=(1,2,3,4,"snehan")

In [2]:
a

'string'

In [3]:
b

[2, 4, 5, 6, 'snehan']

In [4]:
c

24.56

In [11]:
d

(1, 2, 3, 4, 'snehan')

In [16]:
d[1]=8

TypeError: 'tuple' object does not support item assignment

immutable thats why error

In [14]:
b[1]=8

In [15]:
b

[2, 8, 5, 6, 'snehan']

# Q2 #

In [24]:
var1=''
var2='[DS,ML,Python]'
var3= ['DS','ML','Python']
var4=1

In [25]:
type(var1)

str

In [26]:
type(var2)

str

In [27]:
type(var3)

list

In [28]:
type(var4)

int

# Q3 #

/ : division operator 

% : modulus operator(gives the remainder)

// : division floor operation

** : power operator

In [29]:
4/3

1.3333333333333333

In [30]:
4%3

1

In [31]:
4//3

1

In [32]:
4**3

64

# Q4 #

In [52]:
l = [1,2,3,4,5,6,"snehan","sahoo",6+7j,'hello']

In [53]:
for j in l :
    print(j)
    print(type(j))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
snehan
<class 'str'>
sahoo
<class 'str'>
(6+7j)
<class 'complex'>
hello
<class 'str'>

# Q5 #

In [46]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
    A = A // B
    count+=1

if count > 0:
    print(f"Number A is divisible by number B and can be divided {count} times.")
else:
    print("Number A is not divisible by number B.")

Enter number A: 100
Enter number B: 5
Number A is divisible by number B and can be divided 2 times.

# Q6 #

In [61]:
range(26)

range(0, 26)

In [65]:
my_list = list(range(0, 26))
print(my_list)

TypeError: 'list' object is not callable

In [74]:
#range func wasn't working thats why did it like this
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

for i in l:
    if i % 3 == 0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

# Q7 #

**mutability**:
if you are able to change something at a particular indexes for a particular collection or data type that is called as mutability


in case of **list** it is possible

it is a mutable object.


in case of **string** it is not possible 

it is an immmutable object.

#### example of mutable object ####

In [66]:
l = [2,3,4,5,6,6,"sudh",'poopoolala',True, 4+7j]

In [67]:
l

[2, 3, 4, 5, 6, 6, 'sudh', 'poopoolala', True, (4+7j)]

In [68]:
l[6] = 100

In [69]:
l

[2, 3, 4, 5, 6, 6, 100, 'poopoolala', True, (4+7j)]

#### example of immutable object ####

In [70]:
s = "snehan"

In [71]:
s[1]

'n'

In [72]:
s[1] = a

TypeError: 'str' object does not support item assignment